@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --background: #ffffff;
  --foreground: #151515;
  --primary: #003C71;   /* Azul UAP */
  --secondary: #FEDD00; /* Amarillo UAP */
}

@layer base {
  body { @apply bg-background text-foreground; }
}
