@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
}

:root {
  --background: #ffffff;
  --foreground: #151515;

  /* Colores Mulita */
  --primary: #003C71; /* Azul UAP */
  --secondary: #FEDD00; /* Amarillo UAP */
  --muted: #706F6F; /* Gris UAP */
}

body {
  @apply bg-background text-foreground;
}
